language: python
python: 3.5
cache:
  directories:
    - ~/.cache/pip
install:
  - pip install -r requirements/ci.pip
env:
  - TOXENV=py27
  - TOXENV=py34
  - TOXENV=py35
  - TOXENV=pypy
  - TOXENV=docs
  - TOXENV=flake8
  - TOXENV=isort
  - TOXENV=project-tox-docs
  - TOXENV=project-tox-flake8
  - TOXENV=project-tox-isort
  - TOXENV=project-tox-manifest
  - TOXENV=project-tox-pep257
  - TOXENV=project-tox-py27
  - TOXENV=project-tox-py35
  - TOXENV=py27-project-develop
  - TOXENV=py34-project-develop
  - TOXENV=py35-project-develop
services:
  - postgresql
script:
  - make test
sudo: false
notifications:
  slack:
    secure: ic70R8NJdSRtGvpOS2xJzegUTD/vVzgvz47rGmBCt2d0pW01IUA1pZ/KGAMj17F0dqhuv/RKlXex9TagHzf0AyEWOiFj5cr/zJyWKxtXsMhzJnpGwltMoE44lHfNW79xHXyEaRDRPdo1NwVvtDG4KYAocseMHMhCPhuB1TJohdo=
