[run]
branch = True
source = {{ cookiecutter.pkg_name }}
omit =
    *migrations*
    *test*
    *urls.py
    {{ cookiecutter.pkg_name }}/config/*wsgi*.py
    {{ cookiecutter.pkg_name }}/config/settings*
    {{ cookiecutter.pkg_name }}/manage.py

[report]
show_missing = True
