include *.rst
include LICENSE
include Makefile
include manage.py
include tox.ini

exclude .bumpversion.cfg
exclude .editorconfig

recursive-include docs *.rst .gitkeep conf.py Makefile make.bat
recursive-include requirements *.pip

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

graft {{ cookiecutter.pkg_name }}
graft tests

prune envs
prune {{ cookiecutter.pkg_name }}/.cache
prune {{ cookiecutter.pkg_name }}/media
prune {{ cookiecutter.pkg_name }}/static_root
