{% raw %}{% load render_bundle from webpack_loader %}{% endraw %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ cookiecutter.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="{% block robots %}index, follow{% endblock robots %}">
    <title>{{ cookiecutter.project_name }} - {% raw %}{% block title %}{% endblock title %}{% endraw %}</title>
    {% raw %}{% block stylesheet %}{% endblock stylesheet %}{% endraw %}
    {% raw %}{% block extrahead %}{% endblock extrahead %}{% endraw %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% raw %}{% block messages %}
      {% if messages %}
        {% for message in messages %}
          <div class="{% if message.tags %}{{ message.tags }}{% endif %} callout" data-closable>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endblock messages %}{% endraw %}
    <div id="content">
    {% raw %}{% block content %}{% endblock content %}{% endraw %}
    </div>
    {% raw %}{% render_bundle 'main' %}{% endraw %}
    {% raw %}{% block extrajs %}{% endblock extrajs %}{% endraw %}
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <!-- {{ cookiecutter.project_name }} {{ cookiecutter.version }} powered by Django {% raw %}{{ django_version }}{% endraw %} -->
  </body>
</html>
